body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a5a5e1;
  }
  #mainImage {
    width: 300px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Adjust spacing */
  }
  /* Add this to your existing CSS file */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(180, 231, 104);
  }
  